
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --color-pink: rgb(255, 190, 190);
  --color-green: rgb(9, 148, 127);
  --color-purple: rgb(30, 25, 45);

}

/* Cart*/
.cart{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  gap: .5rem;
  padding: 1rem 0rem 0rem 0rem;
  
}

.cart__title{
  font-size: 15px;
  color: var(--color-pink);
  cursor: pointer;
}

.cart__number{
  /* padding: .5rem; */
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  font-size: 12px;
}


/* Bookpage */
.bookpage{
  background-color: rgb(30, 25, 45);
  min-height: 500px ;
  display: flex;
  justify-content: center;
}

.bookpage-wrap{
  width: 60%;
  
}

.bookpage-title{
  font-size: 40px;
  color: var(--color-pink);
  margin: 1rem 0rem 1.5rem 0rem;
}

.bookpage__book-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Book */
.book-card{
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: .5rem;
  display: grid;
  grid-template-rows: auto  auto 1fr; /*lägger knappen längst ner i sid card*/
}

.book-card__title{
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  margin: 0rem 0rem .3rem 0rem;

}

.book-card__subtitle{
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.book-card__info{
  font-size: 10px;
  margin: 1rem 0rem 1rem 0rem;
}

.book-card__button{
  padding: .5rem;
  font-size: 12px;
  background-color: var(--color-green);
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

.book-card__button:hover{
  background-color: var(--color-pink);
  color:var(--color-purple);
  font-weight: 700;
}